<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/css1.css">
    <link rel="stylesheet" href="/static/css/css2.css">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="/static/js/jquery-3.4.1.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'autoparts_index' %}">
                    <img alt="logo" src="/static/img/logo.PNG">
                </a>

            </div>
            <form class="navbar-form navbar-left" role="search" method="post" action="{% url 'autoparts_search' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="输入想搜索的配件" name="search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            {% if not session_user %}
                <a href="{% url 'user_login' %}" class="navbar-text navbar-right">登录 </a>
                <a href="{% url 'user_register' %}" class="navbar-text navbar-right">注册 </a>
            {% else %}
                <a href="{% url 'user_shoppingCart' %}" class="navbar-text navbar-right">购物车&nbsp;</a>
                <a href="{% url 'user_logout' %}" class="navbar-text navbar-right">注销</a>
                <a href="{% url 'user_index' %}" class="navbar-text navbar-right">{{session_user.account}}</a>
                <span class="navbar-text navbar-right">你好：</span>
            {% endif %}
        </div>
    </nav>
    {% block main %}
    {% endblock %}
</div>
</body>
</html>