{% extends 'base.html' %}

{% block title %}
    物品详细信息
{% endblock %}

{% block main %}
    <section class="main_section">
        <section class="course_detail">
            <img src='/{{goods_info.imgName}}' alt="{{goods_info.imgName}}">
            <div class="course_detail_div">
                <h1>{{ goods_info.goodsName }} </h1>
                <p>品牌：{{ goods_info.pLogoCategory.name }}</p>
                <p>部位：{{ goods_info.pPartCategory.name }}</p>
{#                <p>发布时间：{{course_info.createDatetime | date:'Y-m-d'}}</p>#}
                <p>价格：<span class="price">￥{{goods_info.price}}</span></p>
                <p>
                    {% if not is_buy %}
                    <a href="{% url 'user_addShoppingCart' goods_info.id %}">加入购物车</a>
                    <a href="{% url 'user_info_buy' goods_info.id %}">立即购买</a>
                    {% else %}
                    <a>已经购买</a>
                    {% endif %}
                </p>
            </div>
        </section>
        <section class="course_summary">
            <h2>[详细参数]</h2>
            <p class="summary_p">
                {{ goods_info.summary }}
            </p>
        </section>
    </section>
{% endblock %}
