{% extends 'base.html' %}
{% block title %}
    品牌专区
{% endblock %}
{% block main %}
    <form action="{% url 'user_newAddress' %}" method="post">
            <input type="hidden" name="goodsID" value="{{ goods_id }}">
            {% csrf_token %}
            新地址:
            <input type="text" size="100" name="newAddress">
            <input type="submit" value="提交新地址">
        </form>
    <hr>
    <form action="{% url 'user_purchase_post' %}" method="post">
    {% csrf_token %}
        <input type="hidden" name="goodsID" value="{{ goods_id }}">
        <h1>选择地址</h1>
        <hr>
        {% for address in address_s %}
            <input type="radio" name="address" id="address" value="{{ address.addName }}" checked>
            <label for="address">{{ address.addName }}</label> <a  data-toggle="modal" data-target="#myModal" onclick="value_id({{ address.id }}, {{ goods_id }})">删除</a>
            <br>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
{#                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>#}
                        </div>
                        <div class="modal-body">
                           是否确认删除
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            {#                    <button type="button" class="btn btn-primary">Save changes</button>#}
                            <a id="user_delAddress">确定删除</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
        {% endfor %}
        在上方添加新地址
        <h1>支付方式</h1>
        <hr>
        <input type="radio" name="payment" id="payment" value="1" checked>
        <label for="payment">余额支付</label><br>
        <input type="radio" name="payment" id="payment" value="2" >
        <label for="payment">微信支付</label><br>
        <input type="radio" name="payment" id="payment" value="3" >
        <label for="payment">支付宝支付</label>

        <br><input type="submit" value="立即购买">
    </form>
    <hr>

<script>
    function value_id(id, goods_id) {
        $('#user_delAddress').attr('href', 'http://127.0.0.1:8000/user/delAddress/'+id+'/'+goods_id)
    }
    </script>
{% endblock %}